@media(max-width:450px) {
    #header {
        padding: 1rem;
        justify-content: center;
    }
    #header-menu {
        gap: 1rem;
        flex-wrap: wrap;
    }
    .logo-image {
        margin-right: 5%;
    }
    .lessions {
        width: 100%;
        padding: 0.5rem;
    }
    .lession-calculator {
        max-width: 100%;
    }
    #home {
        padding: 0;
    }
    .titles {
        text-align: center;
        margin-bottom: 1rem;
    }
    #lessions-group {
        padding: 0px;
    }
    .lession-title {
        font-size: 1.8rem;
    }
    .calculator-title {
        font-size: 1.5rem;
    }
    .calculator-area {
        overflow-wrap: break-word;
    }
    .calculator-variables {
        width: 90%;
    }
    .calculator-title {
        font-size: 1.4rem;
    }
    .reset-button {
        width: 10rem;
    }
    .variable {
        padding: .5rem .5rem;
        font-size: 1rem;
    }
}