:root {
    --cor-principal: #191d32;
    --cor-secundaria: #282f44;
    --cor-terciaria: #453a49;
    --cor-quartenaria: #9eb3c2;
    --cor-quinalia: #b7c0ee;
}
body {
    color: var(--cor-quartenaria);
    background-color: var(--cor-principal);
}
#header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    color: var(--cor-quinalia);
    border-bottom: solid 2px var(--cor-quinalia);
    padding: 1rem;
}
#header-menu {
    display: flex;
    gap: 5rem;
}
#title-logo {
    font-size: 3rem;
}
.header-menu-item {
    font-size: 2rem;
    transition: .2s ease-in-out;
}
.header-menu-item:hover {
    color: #a0a9d7;
    text-decoration: underline solid 1px;
}
.logo-image {
    width: 6rem;
}
.titles {
    font-size: 3rem;
    display: block;
    text-decoration: 3px solid underline var(--cor-quinalia);
}
#lessions-group {
    margin-top: 2rem;
    padding: 1%;
}
.lessions {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.lession-title {
    font-size: 2rem;
}
.lession-menu-row {
    display: flex;
    gap: 1.5rem;
    padding: .5rem;
    background-color: var(--cor-quartenaria);
    width: 15rem;
    border-radius: 15px;
    color: var(--cor-principal);
    justify-content: space-between;
    align-items: center;
}
.lession-menu-button {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    color: var(--cor-quartenaria);
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 50%;
}
.lession-menu-button:hover {
    background-color: #0a0d1b;
    color: #fff;
}
.lession-menu-button-image {
    width: 2rem;
}
.lession-calculator {
    display: none;
    flex-direction: column;
    color: var(--cor-principal);
    background-color: var(--cor-quartenaria);
    padding: 1rem;
    font-size: 1.3rem;
    width: 23rem;
    border-radius: .5rem;
    border-top-left-radius: 0;
}
.calculator-title {
    font-size: 2rem;
}
.calculator-variables {
    padding: 2rem 0;
    width: 20rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.calculator-variables-checkbox-group {
    display: flex;
}
.variables-checkbox {
    width: 3rem;
}
.variable {
    padding: .2rem;
    border-radius: .5rem;
    color: var(--cor-principal);
}
.calculator-buttons {
    display: flex;
    gap: 2rem;
}
.calculator-button {
    background-color: var(--cor-principal);
    color: var(--cor-quartenaria);
    padding: .5rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: .5rem;
    transition: .2s ease-in-out;
}
.calculator-button:hover {
    background-color: #0b0d1b;
}
.calculator-result {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    display: none;
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--cor-quartenaria);
}
.calculator-area {
    overflow-wrap: break-word;
}