body {
    background-color: #484848;
    color: #fff;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    border-bottom: solid 2px rgb(223, 156, 10);
}
#header-menu {
    display: flex;
    gap: 5rem;
}
.header-menu-item {
    font-size: 2rem;
    transition: .2s ease-in-out;
}
.header-menu-item:hover {
    color: rgb(171, 167, 167);
    text-decoration: underline solid 1px rgb(223, 156, 10);
}
.logo-image {
    width: 4rem;
}
#about-us {
    padding: 1%;
}
.paragraph-row {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}
#info-title {
    font-size: 3rem;
    display: block;
    text-decoration: underline rgb(223, 156, 10);
}
.info-description {
    width: 40%;
    font-size: 1.5rem;
}
#lessions {
    margin-top: 2rem;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}
.lession-title {
    font-size: 2rem;
}
.lession-menu-row {
    display: flex;
    gap: 1.5rem;
    padding: .5rem;
    background-color: #8584849c;
    width: 13rem;
}
.lession-menu-button {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-weight: 700;
    width: 2rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: .5rem;
}
.lession-menu-button:hover {
    background-color: rgb(138, 137, 137);
    color: #fff;
}
.lession-calculator {
    display: none;
    flex-direction: column;
    background-color: #8584849c;
    padding: 1rem;
    font-size: 1.3rem;
    width: 23rem;
    border-radius: .5rem;
    border-top-left-radius: 0;
}

.calculator-title {
    font-size: 2rem;
}
.calculator-variables {
    padding: 2rem 0;
    width: 20rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    color: #000;
}
.variable {
    padding: .2rem;
    border-radius: .5rem;
}
.calculator-buttons {
    display: flex;
    gap: 2rem;
}
.calculator-button {
    background-color: rgb(73, 73, 73);
    padding: .5rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: .5rem;
    transition: .2s ease-in-out;
}
.calculator-button:hover {
    background-color: rgb(40, 39, 39);
}
.calculator-result {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    display: none;
    flex-direction: column;
    row-gap: 1rem;
    background-color: #8584849c;
}